body {
    background: #666666;
}

div {
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin: 10px;
    padding: 20px;
    font-weight: 700;
    margin-right: 490px;
    text-align: center;
    border-radius: 10px;
    background: #00FFFF;
}

h2 {
    margin: 40px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background: #00FFFF;

}

button {
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    background: #437C17;
}